name: GitHub CI

on:
  push:
    branches-ignore:
      - dependabot/**
  pull_request:

jobs:
  build:

    strategy:
      matrix:
        os: [ubuntu-latest]
        java: [8, 11]
      fail-fast: false

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up cache for ~./m2/repository
        uses: actions/cache@v2.1.7
        with:
          path: ~/.m2/repository
          key: maven-${{ matrix.os }}-java${{ matrix.java }}-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            maven-${{ matrix.os }}-java${{ matrix.java }}-
            maven-${{ matrix.os }}-

      - name: Set up JDK
        uses: actions/setup-java@v2.4.0
        with:
          distribution: adopt
          java-version: ${{ matrix.java }}

      - name: Build with Maven
        run: mvn verify -e -B -V
